{% extends 'base.html.twig' %}

{% block title %}Forum Thèmes
{% endblock %}

{% block body %}
	<link href="{{ asset('css/Home.css') }}" rel="stylesheet"/>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% else %}
			<div class="loginButton">
				<a onclick="toggleDialog()" class="button button--connexion">
					<span>Connexion</span>
				</a>
			</div>


			{% if app.request.get('loginError') == "error" %}
				<div class="login_dialog_container visible" id="dialog">
					<a class="close-dialog" onclick="toggleDialog()">Fermer</a>
					{{render(path('app_login'))}}
				</div>
			{% else %}
				<div class="login_dialog_container hidden" id="dialog">
					<a class="close-dialog" onclick="toggleDialog()">Fermer</a>
					{{render(path('app_login'))}}
				</div>
			{% endif %}
	{% endif %}


	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('create_theme') }}" class="createTheme-button">Créer un thème</a>
	{% endif %}


	<div class="centrer_container">
		<h1>Les différents thèmes existant dans le forum.</h1>
		{% if themes %}

			<div class="themes_container">
				{% for theme in themes %}

					{% if theme.status %}
						<div class="theme">
							<a href="{{ path('discussion', {themeId: theme.id}) }}" class="wrap_content_link_button"></a>
							<span class="status">Ouvert</span>
							<h3>{{theme.name}}</h3>
							{% if theme.lastUpdate %}
								<span class="lastUpdate">{{theme.lastUpdate|date('d/m/Y - h:i')}}</span>
							{% endif %}
							<p class="nombre_discussions">Nombre de discussions :{{theme.discussions | length}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{{ knp_pagination_render(themes) }}
		{% else %}
			<p>Aucun thème n'éxiste pour le moment.</p>
		{% endif %}

	</div>
	<script>
		function toggleDialog() {
			el = document.getElementById("dialog");
			if (el.classList.contains("visible")) {
				el.classList.remove("visible");
				el.classList.add("hidden");
			} else {
				el.classList.remove("hidden");
				el.classList.add("visible"); 
			}
		}
	</script>
{% endblock %}
