{% extends 'base.html.twig' %}

{% block title %}Discusions
{% endblock %}

{% block body %}
	<link href="{{ asset('css/Discussion.css') }}" rel="stylesheet"/>

	<div class="discussion_container">


		{% if theme %}
			<h1>{{theme.name}}</h1>

			{% if discussions %}
				{{ knp_pagination_render(discussions) }}
				{% for discussion in discussions %}

					<div class="discussion">
						<span class="first_letter {{discussion.user.pseudo|first|upper}}">{{discussion.user.pseudo|first|upper}}</span>
						<span class="user_time">{{discussion.user.pseudo}}
							:
							{{discussion.createdAt|date('d/m/Y - h:i')}}</span>
						<p>{{discussion.text}}</p>
						{% if is_granted('ROLE_ADMIN') %}
							<div class="discussion_actions">
								<button onclick="openEditMessage({{discussion.id}})">modifier</button>
								<button onclick="openDeleteMessage({{discussion.id}})">supprimer</button>
							</div>
						{% endif %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div id="editMessage-{{discussion.id}}" class="pop_up_container">
							<h2>Modification du message de
								{{discussion.user.pseudo}}
								:</h2>
							<input type="text" id="editInput-{{discussion.id}}"/>
							<div>
								<button onclick="openEditMessage({{discussion.id}})">annuler</button>
								<script>
									document.getElementById('editInput-' +'{{ discussion.id }}').value = "{{ discussion.text }}".replace('&#039;', "'");
								</script>
								<a class="primaryButton edit" onclick="showDetails('{{ discussion.id }}')">modifier</a>
							</div>
						</div>
						<div id="deleteMessage-{{discussion.id}}" class="pop_up_container">
							<h2>Supprimer cette discussion de
								{{discussion.user.pseudo}}
								?</h2>
							<p>
								<strong>Message</strong>
								:
								{{discussion.text}}</p>
							<div>
								<button onclick="openDeleteMessage({{discussion.id}})">annuler</button>
								<a href="{{ path('delete_discussion', {discussionId: discussion.id}) }}" class="primaryButton">supprimer</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{{ knp_pagination_render(discussions) }}


			{% else %}
				<h2 class="error_label">Aucune discussion n'éxiste pour le theme
					{{theme.name}}
				</h2>
			{% endif %}

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{# <a href="#sendMessage" onclick="openSendMessage()" class="sendMessageToRightButton primaryButton">Envoyer un message</a> #}

				<a href="#sendMessage" onclick="openSendMessage()" class="button button--open-chat sendMessageFixedRightButton">
					<span>
						<span>Envoyer un message</span>
					</span>
				</a>

				<a onclick="toggleSendMessage()" class="button button--open-chat writeMessageButton">
					<span>
						<span id="closeButton">Ecrire un Message</span>
					</span>
				</a>


				<div class="sendMessage_container" id="sendMessage">
					<div class="form_container">
						<p>Envoyer un message :
						</p>
						{{ form(sendMessageForm) }}
						</div>
					</div>

				{% endif %}

			{% else %}
				<h2 class="error_label">Aucune theme ne correspond</h2>
				<a href="{{ path('home') }}" class="primaryButton">Retourner a la page principale</a>
			{% endif %}


		</div>

		<script>
			function toggleSendMessage() {
closeButton = document.getElementById("closeButton");
el = document.getElementById("sendMessage");
el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";

if (el.style.visibility == "visible") {
closeButton.innerText = "Fermer";
} else {
closeButton.innerText = "Ecrire un Message";
}
}


function openSendMessage() {
el = document.getElementById("sendMessage");
closeButton = document.getElementById("closeButton");
el.style.visibility = "visible";

if (el.style.visibility == "visible") {
closeButton.innerText = "Fermer";
} else {
closeButton.innerText = "Ecrire un Message";
}
}

function openEditMessage(discussionId) {
el = document.getElementById("editMessage-" + discussionId);
el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}

function openDeleteMessage(discussionId) {
el = document.getElementById("deleteMessage-" + discussionId);
el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}

function showDetails(id) {
window.location = '/admin/edit-discussion/' + id + '-' + document.getElementById('editInput-' + id).value;
}
		</script>

	{% endblock %}
