{% extends 'base.html.twig' %}

{% block title %}Discusions
{% endblock %}

{% block body %}
	<link href="{{ asset('css/Discussion.css') }}" rel="stylesheet"/>

	<div class="discussion_container">


		{% if theme %}
			<h1>{{theme.name}}</h1>

			{% if discussions %}
				{{ knp_pagination_render(discussions) }}
				{% for discussion in discussions %}

					<div class="discussion">
						<span class="first_letter {{discussion.user.pseudo|first|upper}}">{{discussion.user.pseudo|first|upper}}</span>
						<span class="user_time">{{discussion.user.pseudo}}
							:
							{{discussion.createdAt|date('d/m/Y - h:i')}}</span>
						<p>{{discussion.text}}</p>
						{% if is_granted('ROLE_ADMIN') %}
							<div class="discussion_actions">
								<button>modifier</button>
								<button>supprimer</button>
							</div>
						{% endif %}
					</div>

				{% endfor %}
				{{ knp_pagination_render(discussions) }}


			{% else %}
				<h2 class="error_label">Aucune discussion n'éxiste pour le theme
					{{theme.name}}
				</h2>
			{% endif %}

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{# <a href="#sendMessage" onclick="openSendMessage()" class="sendMessageToRightButton primaryButton">Envoyer un message</a> #}

				<a href="#sendMessage" onclick="openSendMessage()" class="button button--open-chat sendMessageFixedRightButton">
					<span>
						<span>Envoyer un message</span>
					</span>
				</a>

				<a onclick="toggleSendMessage()" class="button button--open-chat writeMessageButton">
					<span>
						<span id="closeButton">Ecrire un Message</span>
					</span>
				</a>


				<div class="sendMessage_container" id="sendMessage">
					<div class="form_container">
						<p>Envoyer un message :
						</p>
						{{ form(sendMessageForm) }}
						</div>
					</div>

				{% endif %}

			{% else %}
				<h2 class="error_label">Aucune theme ne correspond</h2>
				<a href="{{ path('home') }}" class="primaryButton">Retourner a la page principale</a>
			{% endif %}


		</div>

		<script>
			function toggleSendMessage() {
closeButton = document.getElementById("closeButton");
el = document.getElementById("sendMessage");
el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";

if (el.style.visibility == "visible") {
closeButton.innerText = "Fermer";
} else {
closeButton.innerText = "Ecrire un Message";
}
}

function openSendMessage() {
el = document.getElementById("sendMessage");
closeButton = document.getElementById("closeButton");
el.style.visibility = "visible";

if (el.style.visibility == "visible") {
closeButton.innerText = "Fermer";
} else {
closeButton.innerText = "Ecrire un Message";
}
}
		</script>

	{% endblock %}
